In [ ]:
import pandas as pd
from tqdm import tqdm

def splitter_15(text):
    return text.strip().split("\n\n\n\n\n\n")

def splitter_234(text,split_str):
    list = text.strip().split(split_str)
    output = []
    stop_value = 0
    while stop_value < len(list):
        output.append(list[stop_value] + list[stop_value + 1])
        stop_value += 2
    return output

def name_extractor(old_string):
    string = old_string.strip()
    if string[:28] != "Trueborn Lord of Winterfell.":
        name =""
        for i in range(len(string)):
            if string[i] != "\n" and string[i] != "\t":
                name += string[i]
            else:
                break
        return name
    else:
        return 'Trueborn Lord of Winterfell.'

In [ ]:
filenames = ["GOT1.txt","GOT2.txt","GOT3.txt","GOT4.txt","GOT5.txt"]

data_got = pd.DataFrame(columns = ["tome","nom_chapitre","contenu"])

for file in tqdm(filenames):
    with open(f"/home/samy/csv_pickle_parquet/{file}","r") as txt:
        current_file = txt.read()
        if file == "GOT1.txt" or file=="GOT5.txt":
            splitted_file = splitter_15(current_file)
        elif file=="GOT2.txt" or file=="GOT4.txt":
            splitted_file = splitter_234(current_file,"\n\n")
        elif file == "GOT3.txt":
            splitted_file = splitter_234(current_file,"\n\n\n")
        for chapter in splitted_file:
            data_got.loc[len(data_got),:] = [file[3],name_extractor(chapter),chapter]

In [309]:
data_got

,tome,nom_chapitre,contenu
0,1,PROLOGUE,"PROLOGUE\n\n\t""We should start back,"" Gared ur..."
1,1,BRAN,BRAN\n\n\n\tThe morning had dawned clear and c...
2,1,CATELYN,CATELYN\n\n\n\tCatelyn had never liked this go...
3,1,DAENERYS,DAENERYS\n\n\n\tHer brother held the gown up f...
4,1,EDDARD,EDDARD\n\n\n\tThe visitors poured through the ...
...,...,...,...
340,5,JON,"JON\n\n\n\tLet them die,"" said Queen Selyse.\n..."
341,5,Trueborn Lord of Winterfell.,"Trueborn Lord of Winterfell.\n\n\n\t""Snow?"" sa..."
342,5,THE QUEEN'S HAND,THE QUEEN'S HAND\n\n\n\tThe Dornish prince was...
343,5,DAENERYS,DAENERYS\n\n\n\tThe hill was a stony island in...
344,5,EPILOGUE,"EPILOGUE\n\n\n\tI am no traitor,"" the Knight o..."